* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --bg-color: linear-gradient(180deg, rgba(91, 21, 6, 1) 0%, rgba(153, 7, 7, 1) 50%);
    --bg-color-opc: linear-gradient(180deg, rgba(91, 21, 6, 0.8) 0%, rgba(153, 7, 7, 0.8) 50%);
    --color-pd: #ffc700;
    --color-black: #000;
    --color-white: #fff;
    --color-black-opc: rgba(0, 0, 0, 0.5)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    position: sticky;
}

body {
    height: 100vh;
    background: var(--bg-color);
    color: var(--color-pd);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: var(--color-black-opc);
    height: 75px;
}

nav {
    position: absolute;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    color: var(--color-pd);
}

#icone_hamburgueria::marker {
    content: "";
}

#icone_hamburgueria {
  cursor: pointer;
}
 
.menu_hamburguer span {
  display: block;
  height: 6px;
  width: 55px;
  background-color: var(--color-pd);
  border-radius: 2px;
  margin: 10px;
}

#titulo_dashboard {
    font-size: 25px;
}

.graficos {
  height: 200px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.grafico_barras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico_area {
    display: flex;
    gap: 16px;
    padding: 10px;
    color: var(--color-white);
    background-color: var(--bg-color-opc);
    height: 100%;
}

.grafico_barras span {
    padding: 10px;
}

.grafico_pizza {
    display: flex;
    padding: 10px;
    color: var(--color-white);
    background-color: var(--bg-color-opc);
}

.grafico_janeiro, .grafico_fevereiro, .grafico_marco {
    display: flex;
    align-items: flex-end;
}


#barra1, #barra3, #barra5 {
    background-color: aquamarine;
}

#barra2, #barra4, #barra6 {
    background-color: orange;
}

/* 
.grafico span {
  position: absolute;
  top: -25px;
  font-size: 12px;
} */
