* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: linear-gradient(90deg, rgba(91, 21, 6, 1) 0%, rgba(153, 7, 7, 1) 50%);
    --color-pd: #ffc700;
}

body {
    height: 100vh;
    background: var(--bg-color);
    color: var(--color-pd);
}

main {
    display: flex;
}

.lado_esquerdo {
    background-image: url('../images/img_fundo.png');
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px solid var(--color-pd);
}

.lado_direito {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#sobre, #contato, #saber_mais {
    text-decoration: none;
    color: var(--color-pd);
}

#email, #senha {
    width: 400px;
    height: 45px;
    border-radius: 8px;
    border-color: var(--color-pd);
}

.form_login {
    display: flex;
    flex-direction: column;
}